/****** Object:  Table [dbo].[tblDepartment]    Script Date: 18-04-2026 01:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[Department] [varchar](19) NULL,
	[DepartmentHead] [varchar](19) NULL
) ON [PRIMARY]
GO
