/****** Object:  Table [dbo].[tblDepartment]    Script Date: 16-04-2026 09:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[Department] [varchar](19) NULL,
	[DepartmentHead] [varchar](19) NULL
) ON [PRIMARY]
GO
