/****** Object:  Table [dbo].[SQLServerTable]    Script Date: 16-04-2026 09:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQLServerTable](
	[F1] [nvarchar](255) NULL,
	[F2] [datetime] NULL,
	[F3] [nvarchar](255) NULL,
	[F4] [float] NULL,
	[F5] [float] NULL,
	[F6] [float] NULL,
	[F7] [float] NULL,
	[F8] [float] NULL,
	[F9] [float] NULL,
	[F10] [float] NULL,
	[F11] [float] NULL,
	[F12] [float] NULL,
	[F13] [float] NULL,
	[F14] [float] NULL,
	[F15] [float] NULL,
	[F16] [float] NULL
) ON [PRIMARY]
GO
