/****** Object:  Table [dbo].[tblTransaction]    Script Date: 16-04-2026 09:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransaction](
	[Amount] [smallmoney] NOT NULL,
	[DateOfTransaction] [smalldatetime] NOT NULL,
	[EmployeeNumber] [int] NOT NULL
) ON [PRIMARY]
GO
