/****** Object:  Table [dbo].[Prospects]    Script Date: 11-04-2026 00:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prospects](
	[EmployeeNumber] [int] NULL,
	[EmployeeFirstName] [nvarchar](100) NULL,
	[EmployeeLastName] [nvarchar](100) NULL,
	[somofamount] [int] NULL
) ON [PRIMARY]
GO
